{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="post-content-section">
   <div class="container-fluid">

      <div class="row m-5">
         {# Main content #}
         <div class="col-lg-9 col-md-9 col-sm-12 pr-5">
            <div class="row">
               <div class="col-12 text-center m-5">
                  <h1>Derniéres actualités</h1>
               </div>
            </div>

            {# Article #}
            <div class="row">
               <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
            </div>
            <div class="row">
               <p class="text-muted">01.01.21</p>
            </div>
            <div class="row mb-5">


               <div class="col-lg-3 col-md-12">
                  <img src="{{ asset('img/Logo_FNDIRP.png') }}" class="img-fluid mb-3" alt="" width="300">
               </div>
               <div class="col-lg-9 col-md-12 text-justify ">


                  <p class="post">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                     has been
                     the
                     industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                     and
                     scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                     leap
                     into electronic typesetting, remaining essentially unchanged. </p>
               </div>
            </div>
            {# / Article #}
            <div class="row">
               <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
            </div>
            <div class="row">
               <p class="text-muted">01.01.21</p>
            </div>
            <div class="row mb-5">


               <div class="col-lg-3 col-md-12">
                  <img src="{{ asset('img/Logo_FNDIRP.png') }}" class="img-fluid" alt="" width="300">
               </div>
               <div class="col-lg-9 col-md-12 text-justify ">


                  <p class="post">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                     has been
                     the
                     industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                     and
                     scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                     leap
                     into electronic typesetting, remaining essentially unchanged. </p>
               </div>
            </div>

            <div class="row">
               <div class="col-12 text-center m-5">
                  <h1>Evènements à venir</h1>
               </div>
            </div>
            {# Events#}
            <div class="row">

               <div class="col-xl-4 col-md-6 col-sm-12 p-2">
                  <div class="card ">
                     <h5 class="card-title text-center">Nom d'èvènement</h5>
                     <div class="card-body">
                        <p><i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp;Lieu</p>
                        <p class="text-muted">01.01.2021</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been
                           the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                           galley
                           of type and scrambled it to make a type specimen book</p>
                     </div>
                  </div>
               </div>

               <div class="col-xl-4 col-md-6 col-sm-12 p-2">
                  <div class="card ">
                     <h5 class="card-title text-center">Nom d'èvènement</h5>
                     <div class="card-body">
                        <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp; Lieu</p>
                        <p class="text-muted">01.01.2021</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been
                           the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                           galley
                           of type and scrambled it to make a type specimen book</p>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-md-6 col-sm-12 p-2">
                  <div class="card ">
                     <h5 class="card-title text-center">Nom d'èvènement</h5>
                     <div class="card-body">
                        <p><i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp;Lieu</p>
                        <p class="text-muted">01.01.2021</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been
                           the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                           galley
                           of type and scrambled it to make a type specimen book</p>
                     </div>
                  </div>
               </div>



            </div>
         </div>
         {# /content #}
         {# Sidebar #}
         <div class="col-lg-3  col-md-3 col-sm-12 sidebar pl-5 pt-5">

            <div class="well">
               <h2>Adhérer</h2>
               <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
               <a href="#" class="btn btn-secondary">J'adhère</a>
            </div>

         </div>

         {# / sidebar #}
      </div>
   </div> <!-- /container -->
</section>

{% endblock %}