* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-size: calc(0.7rem + ((1vw - 0.48rem) * 0.6944));
  min-height: 0vw;
}

h1, h2, h5, h6 {
  font-family: "Roboto", sans-serif;
  color: #2f3d59;
  font-weight: 600;
}

.title {
  border-bottom: solid #d93636;
}

.text {
  border-bottom: solid #e0dfdb 1px;
}

/* Header */

header {
  padding-top: 2.5rem;
}

/* Navbar */

.navbar {
  background-image: url("../img/auschwitz.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 14rem;
}

.collapse .navbar-collapse {
  background-color: #f4f3ef;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1.5rem;
}

.nav-link .active li {
  color: #26415e;
}

.nav-item {
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link, .dropdown-item {
  color: #26415e;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover, .dropdown-item:hover {
  color: #d93636;
  font-weight: 600;
}

#logo {
  width: 25rem;
}

.input-group {
  width: 15rem !important;
}

/*Events*/

.card {
  display: inline-block;
  align-items: center;
  width: 18rem;
  padding: 1rem;
}

/* Sidebar */

.sidebar {
  border-left: solid #e0dfdb 1px;
}

/* Footer */

footer a, footer a:hover {
  color: #26415e;
}

footer {
  background-color: #e0dfdb;
}

.footer_top {
  border-bottom: solid #26415e 3px;
}

.fa, .fas, .far {
  color: #d93636;
}

.fab {
  padding-right: 1rem;
}

.fa-search, .fa-paper-plane {
  color: white;
}

.btn {
  background-color: #26415e;
}

/* Map */

.map_image path {
  fill: #e0dfdb;
  stroke: white;
  stroke-width: 1px;
  transition: fill 0.3s;
  width: 50%;
}

.map_image path:hover {
  fill: #d93636;
  cursor: grab;
}

.coordinates {
  display: none;
  font-size: 0.7rem;
}

.coordinates span, .coordinates .fas {
  font-size: 0.8rem;
}

.coordinates b, .coordinates strong {
  font-size: 0.9rem;
}
.coordinates table th, .coordinates table td{
  padding-left: 1rem;
  
}

svg {
  width: 80%;
}