<div id="associations">

<span class="couleur"><b>Coordonnées :</b></span>
   <span class="icon icon-address">
35, rue de Cernay - 68310 Wittelsheim</span>
                     <span class="icon icon-phone">03 89 55 19 31</span>
      <br>
<span><b>Bureau / Membres :</b></span>
<br>

         <b>Président (e)</b> : Monsieur Rémy EHRET				<br>
                                             <b>Contact au sein de l'association :</b> Rémy  EHRET (Président)				<br>
          

      <div class="clear"></div>
</div>