<div class="container-fluid">
   <div class="row m-5">
      {# Left sidebar #}
      <div class="col-lg-3 col-md-5 col-sm-12">
         <div class="card" style="width: 17rem;">
            <div class="card-body">
               <h5 class="card-title">Adhérer</h5>
               <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
               <a href="#" class="btn btn-secondary">J'adhère</a>
            </div>
         </div>
         <div class="card mt-3" style="width: 17rem;">
            <div class="card-body">
               <h5 class="card-title">Faire un don</h5>
               <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
               <a href="#" class="btn btn-secondary">Je fais don</a>
            </div>
         </div>
      </div>

      {# Main content #}
      <div class="col-lg-9 col-md-7 col-sm-12">
         <div class="row">
            <div class="col-12 my-3">
               <h1>Derniéres actualités</h1>
            </div>
         </div>

         {# Article #}
            <div class="row">
               <h5>Title</h5>
                           </div>
            <div class="row">
             <p>01.01.21</p>  
            </div>
            <div class="row">
               
            
            <div class="col-lg-3 col-md-12">
               <img src="{{ asset('img/Logo_FNDIRP.png') }}" alt="" width="300" class="mb-3">
            </div>
            <div class="col-lg-9 col-md-12">
               
               
               <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                  into electronic typesetting, remaining essentially unchanged. </div>
            </div>
         </div>
      </div>
   </div>
   /* Content */
   section{width:100%; float:left;}
   .banner-section{background-image:url("https://static.pexels.com/photos/373912/pexels-photo-373912.jpeg"); background-size:cover; height: 380px; left: 0; position: absolute; top: 0; background-position:0;}
   .post-title-block{padding:100px 0;}
   .post-title-block h1 {color: #fff; font-size: 85px; font-weight: bold; text-transform: capitalize;}
   .post-title-block li{font-size:20px; color: #fff;}
   .image-block{float:left; width:100%; margin-bottom:10px;}
   .footer-link{float:left; width:100%; background:#222222; text-align:center; padding:30px;}
   .footer-link a{color:#A9FD00; font-size:18px; text-transform:uppercase;}
    footer a,
   footer a:hover{
     color: #26415e;
   }
   <section class="post-content-section">
      <div class="container-fluid">
   
          <div class="row">
   
              <div class="col-lg-9 col-md-9 col-sm-12">
                  <p class="lead">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
   <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
                   
               </div>
              <div class="col-lg-3  col-md-3 col-sm-12">
                  <div class="well">
                      <h2>Subscription Box</h2>
                      <p>Form Description Goes here</p>
                      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
                  </div>
    
                  <div class="well">
                      <h2>About Author</h2>
                      <img src="" class="img-rounded" />
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                      
              </div>
          </div>
        
   
      </div> <!-- /container -->
   </section>